{layout none}{contentType text}
{var $return->subject = 'E-Mail-Änderung'}
Hallo {$fullName},

deine E-Mail-Adresse in der MHN-Datenbank wurde zu {$email} geändert.

Wenn dich diese E-Mail überrascht, dann nimm bitte mit der Mitgliederbetreuung Kontakt auf.
