{layout none}{contentType text}
{var $return->subject = 'Passwort vergessen'}
Hallo {$fullName},

Du hast angegeben, dass du dein Passwort für deinen Zugang zum MinD-Hochschul-Netzwerk
vergessen hast. Unter dem folgenden Link kannst du ein neues Passwort vergeben:

{="$url\n"}

Falls du diese E-Mail nicht selbst angefordert hast, kannst du sie ignorieren.
