services:
  db:
    image: mariadb
    restart: unless-stopped
    container_name: ${SERVICENAME}-db
    environment:
      - MYSQL_USER=user
      - MYSQL_PASSWORD
      - MYSQL_DATABASE=database
      - MYSQL_ROOT_PASSWORD
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_INITDB_SKIP_TZINFO=1
    volumes:
      - "./docker/sql:/docker-entrypoint-initdb.d:ro"
      - "${VOLUMES_DIR}/mariadb:/var/lib/mysql"

  app:
    image: ghcr.io/mind-hochschul-netzwerk/${SERVICENAME}
    restart: unless-stopped
    container_name: ${SERVICENAME}
    volumes:
      - "${VOLUMES_DIR}/profilbilder:/var/www/html/profilbilder"
    environment:
      - DOMAINNAME
      - MONKSYNCAPIKEY=pfleger:dX7sq22OqeVK2KqtUKLDJvzG6KU5hR71
      - MONKSYNCTRACE=0
      - MONKSYNCMONKBASE=http://10.1.0.5:9000/
      - MONKSYNCLISTS=Mitglieder,Newsletter
      - MYSQL_HOST=db
      - MYSQL_USER=user
      - MYSQL_PASSWORD
      - MYSQL_DATABASE=database
      - TOKEN_KEY
      - LDAP_HOST=ldap://ldap:389/
      - LDAP_GROUPS_DN=ou=groups,dc=mind-hochschul-netzwerk,dc=de
      - LDAP_PEOPLE_DN=ou=people,dc=mind-hochschul-netzwerk,dc=de
      - LDAP_BIND_DN=cn=admin,dc=mind-hochschul-netzwerk,dc=de
      - LDAP_BIND_PASSWORD
      - SMTP_HOST
      - SMTP_SECURE
      - SMTP_PORT
      - SMTP_USER
      - SMTP_PASSWORD
      - FROM_ADDRESS
    labels:
      - traefik.enable=true
      - traefik.http.routers.${SERVICENAME}.middlewares=secheader@file
    depends_on:
      - db
    networks:
      - traefik
      - default
      - ldap

  adminer:
    image: adminer
    container_name: ${SERVICENAME}-adminer
    labels:
      - traefik.enable=true
      - traefik.http.routers.${SERVICENAME}-adminer.middlewares=secheader@file
    depends_on:
      - db
    networks:
      - traefik
      - default

networks:
  traefik:
    name: traefik
    external: true
  ldap:
    name: ldap
    external: true
