{import ../partials/components.latte}

{define private-input, $label, $name, $type, $value, $class = "", $uncoverVariable, $type = 'text', $id, $placeholder, $autocomplete, $disabled, $required, $options = []}
    {var $uncoverVariable = $uncoverVariable ?? "sichtbarkeit_" . $name}
    {var $show_toggle = isset(get_defined_vars()[$uncoverVariable])}
    {var $sichtbarkeit = (bool) get_defined_vars()[$uncoverVariable]}

    <div class="input-group" n:tag-if=$show_toggle>
        {include input, ...get_defined_vars()}
        <span class="uncover-toggle" n:if=$show_toggle>
            <input type="checkbox"
            n:attr="
                checked: $sichtbarkeit,
                name: $uncoverVariable,
                id: $uncoverVariable,
            ">
            <label for="{$uncoverVariable}">
                <i class="ti ti-eye protected-value-icon" aria-hidden="true" title="für andere Mitglieder sichtbar"></i>
                <i class="ti ti-eye-off protected-value-icon" aria-hidden="true" title="nicht für andere Mitglieder sichtbar"></i>
                <span class="visually-hidden">für andere Mitglieder sichtbar</span>
            </label>
        </span>
    </div>
{/define}

{define private-form-group, $label, $name, $type, $value, $class = "", $uncoverVariable, $type = 'text', $id, $placeholder, $autocomplete, $disabled, $required, $options = [], $infoboxText = "", $infoboxType = null, $infoboxClass = ""}
    {var $id = $id ?? ($name ? 'input-' . $name)}
    <div class='form-group'>
        <label for={$id}>{$label} <i n:if=$required class="required-icon ti ti-asterisk" aria-hidden="true"></i></label>
        {if $infoboxText}{include info-box, $infoboxType, $infoboxText, class: $infoboxClass}{/if}
        {include private-input, ...get_defined_vars(), label: null, placeholder: $placeholder ?: $label}
    </div>
{/define}

<script>
window.addEventListener("DOMContentLoaded", () => {
    let sichtbarkeit_plz_ort_recursion = false;
    document.querySelectorAll('[name=sichtbarkeit_plz_ort]').forEach(a => a.onchange = function () {
        if (sichtbarkeit_plz_ort_recursion) return;
        sichtbarkeit_plz_ort_recursion = true;
        const check = this.checked;
        document.querySelectorAll('[name=sichtbarkeit_plz_ort]').forEach(b => {
            if (a == b) return;
            b.checked = check;
        });
        sichtbarkeit_plz_ort_recursion = false;
    });
});
</script>

<section class="panel" aria-labelledby="kontaktdaten-heading">
    <h2 id="kontaktdaten-heading">
        <i class="label-icon ti ti-at" aria-hidden="true"></i>Kontakt & Ort
    </h2>

    <p>
        Bitte ermögliche, dass andere Mitglieder dich erreichen können.
        Die Pflichtfelder (<i class="required-icon ti ti-asterisk" aria-hidden="true"></i>) benötigen wir, um das offizielle Mitgliederverzeichnis zu führen.
    </p>

    {embed info-box, showCloseButton: false}{block info-box-text}
        Mit der Sichtbarkeits-Auswahl <i class="protected-value-icon ti ti-eye"></i>/<i class="protected-value-icon ti ti-eye-off"></i>
        neben einigen Einträgen kannst du einstellen, ob die Daten für alle Mitglieder oder nur für dich und dazu
        berechtigte Personen wie der Vorstand und die Mitgliederbetreuung sichtbar sind. Einträge ohne diese Symbole
        sind für alle Mitglieder sichtbar.
    {/block}{/embed}

    <div class="form-row">
        {include private-form-group, "Titel", titel, placeholder: "akademischer Titel wie Prof., Dr., Dr. med."}
        {include private-form-group, "Vorname", vorname, disabled: !$isAdmin, required: true}
        {include private-form-group, "Nachname", nachname, disabled: !$isAdmin, required: true}
    </div>

    {include private-form-group, "E-Mail" . ($email_auth_info ? " (wird geändert)"), "email", email, type: email, required: true,
        infoboxText: str_ends_with(strtolower($email), '.invalid') ? "Die Endung .invalid wurde angefügt, weil E-Mails an diese Adresse nicht zugestellt werden konnten.",
        uncoverVariable: sichtbarkeit_email, placeholder: "E-Mail"
    }

    <div class="form-row">
        {include private-form-group, "Straße + Hausnummer", strasse, required: true}
        {include private-form-group, "ggf. Adresszusatz", adresszusatz, placeholder: "Adresszusatz"}
    </div>
    <div class="form-row">
        {include private-form-group, "PLZ", plz, uncoverVariable: sichtbarkeit_plz_ort, required: true}
        {include private-form-group, "Ort", ort, uncoverVariable: sichtbarkeit_plz_ort, required: true}
        {* Deutsch/Österreich/Schweiz oben in der Liste; Leerzeichen, um doppelte Keys zu vermeiden *}
        {include private-form-group, "Land", land, type: select, required: true, options: [
            ' DE ' => 'Deutschland',
            ' AT ' => 'Österreich',
            ' CH ' => 'Schweiz',
            '---' => '---',
            ...$countryNames,
            ...($land === '' ? ['' => 'unbekannt'] : []),
        ], value: in_array($land, ['DE', 'AT', 'CH']) ? " $land " : $land}
    </div>

    <details n:attr="open: $strasse2 || $adresszusatz2 || $plz2 || $ort2 || $land2">
        <summary><h3 style="display: inline"><i class="ti ti-chevron-right" aria-hidden="true"></i>Zweitwohnsitz <small>z.B. Adresse der Eltern</small></h3></summary>

        <div class="form-row">
            {include private-form-group, "Straße + Hausnummer", strasse2}
            {include private-form-group, "ggf. Adresszusatz", adresszusatz2, placeholder: "Adresszusatz"}
        </div>
        <div class="form-row">
            {include private-form-group, "PLZ", plz2}
            {include private-form-group, "Ort", ort2}
            {include private-form-group, "Land", land2, type: select, options: [
                '' => 'nicht angegeben',
                ' DE ' => 'Deutschland',
                ' AT ' => 'Österreich',
                ' CH ' => 'Schweiz',
                '---' => '---',
                ...$countryNames,
            ], value: in_array($land2, ['DE', 'AT', 'CH']) ? " $land2 " : $land2}
        </div>
    </details>

    {include private-form-group, "Telefon", telefon, type: tel,
        infoboxClass: info-sichtbarkeit,
        infoboxType: warning, infoboxText: "Die Telefonnummer wird demnächst nicht mehr ausblendbar sein. Wenn du nicht möchtest, dass wir den Wert löschen, schalte ihn frei."
    }

    {include private-form-group, "Homepage", homepage, type: url}
</section>

<section class="panel" aria-labelledby="career-heading">
    <h2 id="career-heading">
        <i class="label-icon ti ti-school" aria-hidden="true"></i>Ausbildung &amp; Beruf
    </h2>

    <p>
        Angaben über deine Ausbildung und Beruf können anderen Mitgliedern helfen,
        Ansprechpartner*innen für Fragen zu ihrer eigenen Ausbildung zu finden. Dies
        ist einer der Kerngedanken des Netzwerks.
    </p>

    {embed info-box, warning,
        "Die Angaben zu Ausbildung und Beruf werden demnächst nicht mehr ausblendbar sein. Wenn du nicht möchtest, dass wir Werte löschen, schalte sie frei.",
        class: info-sichtbarkeit-beruf
    }{block info-box-button}
        <button type="button" class="secondary"
            onclick="document.querySelectorAll('.info-sichtbarkeit-beruf ~ div .uncover-toggle input').forEach(e => e.checked = true);">
            <i class="ti ti-eye protected-value-icon" aria-hidden="true"></i> Alles freigeben
        </button>
    {/block}{/embed}

    {include private-form-group, "Beruf", beruf}

    {include private-form-group, "Studiengänge, Ausbildung", studienfach}

    {include private-form-group, "Hochschule / Ausbildungsbetrieb, Ort", unityp, placeholder: "Universität, Fachhochschule, ...",}

    {include private-form-group, "Studien-/Ausbildungsort", studienort,
        infoboxClass: info-nicht-leer, infoboxType: warning, infoboxText: "Die separate Angabe des Studien-/Ausbildungsortes wird es demnächst nicht mehr geben und an das Feld „Hochschule / Ausbildungsbetrieb, Ort“ (früher „Hochschultyp”) angehängt. Du kannst der Änderung vorgreifen, indem du die Angabe dorthin überträgst und dieses Feld leerst."
    }

    {include private-form-group, "Schwerpunkt", schwerpunkt,
        infoboxClass: info-nicht-leer, infoboxType: warning, infoboxText: "Die Angabe des Schwerpunkts wird demnächst an das Feld „Studiengänge, Ausbildung” angehängt. Du kannst der Änderung vorgreifen, indem du die Angabe dorthin überträgst und dieses Feld leerst."
    }

    {include private-form-group, "ggf. Nebenfach", nebenfach, placeholder: 'Nebenfach',
        infoboxClass: info-nicht-leer, infoboxType: warning, infoboxText: "Die Angabe des Nebenfachs wird demnächst an das Feld „Studiengänge, Ausbildung” angehängt. Du kannst der Änderung vorgreifen, indem du die Angabe dorthin überträgst und dieses Feld leerst."
    }

    {include private-form-group, "Abschluss", abschluss}
    {include private-form-group, "ggf. Zweitstudium", zweitstudium, placeholder: 'Zweitstudium',
        infoboxClass: info-nicht-leer, infoboxType: warning, infoboxText: "Die Angabe des Zweitstudiums wird demnächst an das Feld „Studiengänge, Ausbildung” angehängt. Du kannst der Änderung vorgreifen, indem du die Angabe dorthin überträgst und dieses Feld leerst."
    }
    {include private-form-group, "Stipendien", stipendien}
    {include private-form-group, "Auslandsaufenthalte", auslandsaufenthalte}
    {include private-form-group, "Praktika, Fort- und Weiterbildungen", praktika}
    {include private-form-group, "Frühere berufliche Tätigkeiten", fruehere_taetigkeiten}
    {include box, name: mentoring, label: 'Ich stehe gerne als Mentor*in für andere MHN-Mitglieder in meinem Fachbereich zur Verfügung.'}
</section>

<section class="panel" aria-labelledby="engagement-heading">
    <h2 id="network-heading">
        <i class="label-icon ti ti-carambola" aria-hidden="true"></i>Engagement für den Verein
    </h2>

    <p>
        Wie möchtest du im Netzwerk aktiv sein?
        Das MHN lebt vom Engagement seiner Mitglieder. Dabei ist es auch in Ordnung, wenn du
        noch keine Vorerfahrungen hast. Voneinander-Lernen und gemeinsames Wachstum stehen bei
        uns im Mittelpunkt!
    </p>

    <div>
        <h3>Ich könnte bei folgenden Aufgaben helfen</h3>
        {foreach [aufgabe_ma, aufgabe_veranstaltungen, aufgabe_seminar, aufgabe_lokal, aufgabe_vortrag] as $key}
            {include box, $key, $aufgabenLabels[$key]}
        {/foreach}
    </div>

    <div>
        <h3>Ich könnte bei folgenden Teams mitarbeiten</h3>
        {foreach [aufgabe_it, aufgabe_finanzen, aufgabe_mitgliederbetreuung, aufgabe_seminarteam, aufgabe_oeffentlichkeitsarbeit, aufgabe_mentoringprogramm] as $key}
            {include box, $key, $aufgabenLabels[$key]}
        {/foreach}
    </div>

    <div>
        <h3>Falls du konkrete Ideen zu deinem Engagement hast, lass es uns hier gerne wissen:</h3>
        {include input, name: aufgabe_freitext, placeholder: "Ideen für Engagement"}
    </div>
</section>

<section class="panel" aria-labelledby="about-heading">
    <h2 id="about-heading">
        <span class="label-icon" aria-hidden="true"><i class="ti ti-mood-spark"></i></span>Persönliches
    </h2>

    {default $geburtstag = \DateTimeImmutable::createFromFormat('Y-m-d', '0000-00-00')}
    {include private-form-group, "Geburtsdatum", geburtstag, type: date, disabled: !$isAdmin, required: true}

    {include private-form-group, "ggf. Mensa-Mitgliedsnummer", mensa_nr, placeholder: "Mensa-Mitgliedsnummer",
        infoboxClass: info-sichtbarkeit, infoboxType: warning, infoboxText: "Die Mensa-Mitgliedsnummer wird demnächst nicht mehr ausblendbar sein. Wenn du nicht möchtest, dass wir den Wert löschen, schalte ihn frei."
    }

    {include private-form-group, "Sprachen", sprachen}

    {include private-form-group, "Hobbys und Interessen", hobbys}

    {include private-form-group, "Interessen", interessen,
        infoboxClass: info-nicht-leer, infoboxType: warning, infoboxText: "Die Interessen werden demnächst an das Feld „Hobbys und Interessen” (früher „Hobbys”) angehängt. Du kannst der Änderung vorgreifen, indem du die Angabe dorthin überträgst und dieses Feld leerst."
    }

    {include private-form-group, "Ehrenamtliches Engagement", ehrenamt, placeholder: 'Ehrenamtliches Engagement (Fachschaftsarbeit, ...)',
        infoboxClass: info-sichtbarkeit, infoboxType: warning, infoboxText: "Das ehrenamtliche Engegament wird demnächst nicht mehr ausblendbar sein. Wenn du nicht möchtest, dass wir den Wert löschen, schalte ihn frei."
    }
</section>
